.circleSize{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.circleGreen{
    background-color: var(--primary);
}

.circleYellow{
    background-color: var(--warning);
}

.circleBlue{
    background-color: var(--info);
}