.inputField{
    min-width: 15rem;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    color: var(--text-default);
    padding: 0.4rem 1rem;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid var(--primary);
    transition: all 0.1s ease-in-out;
}

.inputField:focus{
    outline: transparent;
    border-radius: 13px;
    border-top: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
}

.inputField::placeholder{
    color: var(--disabled)
}